<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>status</key>
	<true/>
	<key>tngou</key>
	<array>
		<dict>
			<key>cookclass</key>
			<integer>0</integer>
			<key>description</key>
			<string>美容</string>
			<key>id</key>
			<integer>1</integer>
			<key>keywords</key>
			<string>美容</string>
			<key>name</key>
			<string>美容</string>
			<key>seq</key>
			<integer>0</integer>
			<key>title</key>
			<string>美容</string>
		</dict>
		<dict>
			<key>cookclass</key>
			<integer>0</integer>
			<key>description</key>
			<string>减肥</string>
			<key>id</key>
			<integer>10</integer>
			<key>keywords</key>
			<string>减肥</string>
			<key>name</key>
			<string>减肥</string>
			<key>seq</key>
			<integer>0</integer>
			<key>title</key>
			<string>减肥</string>
		</dict>
		<dict>
			<key>cookclass</key>
			<integer>0</integer>
			<key>description</key>
			<string>保健养生</string>
			<key>id</key>
			<integer>15</integer>
			<key>keywords</key>
			<string>保健养生</string>
			<key>name</key>
			<string>保健养生</string>
			<key>seq</key>
			<integer>0</integer>
			<key>title</key>
			<string>保健养生</string>
		</dict>
		<dict>
			<key>cookclass</key>
			<integer>0</integer>
			<key>description</key>
			<string>人群</string>
			<key>id</key>
			<integer>52</integer>
			<key>keywords</key>
			<string>人群</string>
			<key>name</key>
			<string>人群</string>
			<key>seq</key>
			<integer>0</integer>
			<key>title</key>
			<string>人群</string>
		</dict>
		<dict>
			<key>cookclass</key>
			<integer>0</integer>
			<key>description</key>
			<string>时节</string>
			<key>id</key>
			<integer>62</integer>
			<key>keywords</key>
			<string>时节</string>
			<key>name</key>
			<string>时节</string>
			<key>seq</key>
			<integer>0</integer>
			<key>title</key>
			<string>时节</string>
		</dict>
		<dict>
			<key>cookclass</key>
			<integer>0</integer>
			<key>description</key>
			<string>餐时</string>
			<key>id</key>
			<integer>68</integer>
			<key>keywords</key>
			<string>餐时</string>
			<key>name</key>
			<string>餐时</string>
			<key>seq</key>
			<integer>0</integer>
			<key>title</key>
			<string>餐时</string>
		</dict>
		<dict>
			<key>cookclass</key>
			<integer>0</integer>
			<key>description</key>
			<string>器官</string>
			<key>id</key>
			<integer>75</integer>
			<key>keywords</key>
			<string>器官</string>
			<key>name</key>
			<string>器官</string>
			<key>seq</key>
			<integer>0</integer>
			<key>title</key>
			<string>器官</string>
		</dict>
		<dict>
			<key>cookclass</key>
			<integer>0</integer>
			<key>description</key>
			<string>调养</string>
			<key>id</key>
			<integer>82</integer>
			<key>keywords</key>
			<string>调养</string>
			<key>name</key>
			<string>调养</string>
			<key>seq</key>
			<integer>0</integer>
			<key>title</key>
			<string>调养</string>
		</dict>
		<dict>
			<key>cookclass</key>
			<integer>0</integer>
			<key>description</key>
			<string>肠胃消化</string>
			<key>id</key>
			<integer>98</integer>
			<key>keywords</key>
			<string>肠胃消化</string>
			<key>name</key>
			<string>肠胃消化</string>
			<key>seq</key>
			<integer>0</integer>
			<key>title</key>
			<string>肠胃消化</string>
		</dict>
		<dict>
			<key>cookclass</key>
			<integer>0</integer>
			<key>description</key>
			<string>孕产哺乳</string>
			<key>id</key>
			<integer>112</integer>
			<key>keywords</key>
			<string>孕产哺乳</string>
			<key>name</key>
			<string>孕产哺乳</string>
			<key>seq</key>
			<integer>0</integer>
			<key>title</key>
			<string>孕产哺乳</string>
		</dict>
		<dict>
			<key>cookclass</key>
			<integer>0</integer>
			<key>description</key>
			<string>其他</string>
			<key>id</key>
			<integer>132</integer>
			<key>keywords</key>
			<string>其他</string>
			<key>name</key>
			<string>其他</string>
			<key>seq</key>
			<integer>0</integer>
			<key>title</key>
			<string>其他</string>
		</dict>
		<dict>
			<key>cookclass</key>
			<integer>0</integer>
			<key>description</key>
			<string>经期</string>
			<key>id</key>
			<integer>147</integer>
			<key>keywords</key>
			<string>经期</string>
			<key>name</key>
			<string>经期</string>
			<key>seq</key>
			<integer>0</integer>
			<key>title</key>
			<string>经期</string>
		</dict>
		<dict>
			<key>cookclass</key>
			<integer>0</integer>
			<key>description</key>
			<string>女性疾病</string>
			<key>id</key>
			<integer>161</integer>
			<key>keywords</key>
			<string>女性疾病</string>
			<key>name</key>
			<string>女性疾病</string>
			<key>seq</key>
			<integer>0</integer>
			<key>title</key>
			<string>女性疾病</string>
		</dict>
		<dict>
			<key>cookclass</key>
			<integer>0</integer>
			<key>description</key>
			<string>呼吸道</string>
			<key>id</key>
			<integer>166</integer>
			<key>keywords</key>
			<string>呼吸道</string>
			<key>name</key>
			<string>呼吸道</string>
			<key>seq</key>
			<integer>0</integer>
			<key>title</key>
			<string>呼吸道</string>
		</dict>
		<dict>
			<key>cookclass</key>
			<integer>0</integer>
			<key>description</key>
			<string>血管</string>
			<key>id</key>
			<integer>182</integer>
			<key>keywords</key>
			<string>血管</string>
			<key>name</key>
			<string>血管</string>
			<key>seq</key>
			<integer>0</integer>
			<key>title</key>
			<string>血管</string>
		</dict>
		<dict>
			<key>cookclass</key>
			<integer>0</integer>
			<key>description</key>
			<string>心脏</string>
			<key>id</key>
			<integer>188</integer>
			<key>keywords</key>
			<string>心脏</string>
			<key>name</key>
			<string>心脏</string>
			<key>seq</key>
			<integer>0</integer>
			<key>title</key>
			<string>心脏</string>
		</dict>
		<dict>
			<key>cookclass</key>
			<integer>0</integer>
			<key>description</key>
			<string>肝胆脾胰</string>
			<key>id</key>
			<integer>192</integer>
			<key>keywords</key>
			<string>肝胆脾胰</string>
			<key>name</key>
			<string>肝胆脾胰</string>
			<key>seq</key>
			<integer>0</integer>
			<key>title</key>
			<string>肝胆脾胰</string>
		</dict>
		<dict>
			<key>cookclass</key>
			<integer>0</integer>
			<key>description</key>
			<string>神经系统</string>
			<key>id</key>
			<integer>197</integer>
			<key>keywords</key>
			<string>神经系统</string>
			<key>name</key>
			<string>神经系统</string>
			<key>seq</key>
			<integer>0</integer>
			<key>title</key>
			<string>神经系统</string>
		</dict>
		<dict>
			<key>cookclass</key>
			<integer>0</integer>
			<key>description</key>
			<string>口腔</string>
			<key>id</key>
			<integer>202</integer>
			<key>keywords</key>
			<string>口腔</string>
			<key>name</key>
			<string>口腔</string>
			<key>seq</key>
			<integer>0</integer>
			<key>title</key>
			<string>口腔</string>
		</dict>
		<dict>
			<key>cookclass</key>
			<integer>0</integer>
			<key>description</key>
			<string>肌肉骨骼</string>
			<key>id</key>
			<integer>205</integer>
			<key>keywords</key>
			<string>肌肉骨骼</string>
			<key>name</key>
			<string>肌肉骨骼</string>
			<key>seq</key>
			<integer>0</integer>
			<key>title</key>
			<string>肌肉骨骼</string>
		</dict>
		<dict>
			<key>cookclass</key>
			<integer>0</integer>
			<key>description</key>
			<string>皮肤</string>
			<key>id</key>
			<integer>212</integer>
			<key>keywords</key>
			<string>皮肤</string>
			<key>name</key>
			<string>皮肤</string>
			<key>seq</key>
			<integer>0</integer>
			<key>title</key>
			<string>皮肤</string>
		</dict>
		<dict>
			<key>cookclass</key>
			<integer>0</integer>
			<key>description</key>
			<string>男性</string>
			<key>id</key>
			<integer>218</integer>
			<key>keywords</key>
			<string>男性</string>
			<key>name</key>
			<string>男性</string>
			<key>seq</key>
			<integer>0</integer>
			<key>title</key>
			<string>男性</string>
		</dict>
		<dict>
			<key>cookclass</key>
			<integer>0</integer>
			<key>description</key>
			<string>癌症</string>
			<key>id</key>
			<integer>227</integer>
			<key>keywords</key>
			<string>癌症</string>
			<key>name</key>
			<string>癌症</string>
			<key>seq</key>
			<integer>0</integer>
			<key>title</key>
			<string>癌症</string>
		</dict>
	</array>
</dict>
</plist>
